/***  Minimum viewport 320px mobile portrait  ***/

* {
  box-sizing: border-box;
  font-size: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeader {
  width: 250px;
  height: 100px;
  padding: 38px 0;
  text-align: center;
}

h1 {
  font-size: 24px;
}

.js-mainWindow, .js-mainAddBookmark {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 275px;
  height: 600px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.upperContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 275px;
  height: 200px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.newBookmark, .filterBy {
  width: 137px;
  height: 200px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.bookmarks {
  width: 275px;
  height: 400px;
  border-color: black;
  border-style: solid;
  border-width: 2px;    
}

h2, a, p, li, fieldset, input, button, select, option, label {
  font-size: 18px;
}

.buttonNew, .js-filter {
  display: inline-block;
  width: 175px;
}

ul {
  padding: 0 40px;
}

ul, ul .expanded {
  width: 275px;
  list-style-type: none;
}

ul .expanded {
  height: 140px;
}

/***  Minimum viewport 480px mobile landscape  ***/
@media screen and (min-width: 480px) {
  .mainHeader {
    width: 400px;
  }

  .js-mainWindow {
    width: 400px;
  }

  .js-mainAddBookmark {
    width: 400px;
  }

  .upperContainer {
    width: 400px;
  }
  
  .newBookmark, .filterBy {
    width: 200px;
  }

  .bookmarks {
    width: 400px;
  }

  ul, ul .expanded {
    width: 400px;
  }
}

/***  Minimum viewport 768px iPad portrait  ***/
@media screen and (min-width: 768px) {
  .mainHeader {
    width: 500px;
  }

  h1 {
    font-size: 26px;
  }

  .js-mainWindow {
    width: 700px;
  }

  .js-mainAddBookmark {
    width: 400px;
  }

  .upperContainer {
    width: 700px;
  }

  .newBookmark, .filterBy {
    width: 350px;
  }

  .bookmarks {
    width: 700px;
  }

  ul, ul .expanded {
    width: 700px;
  }
}  
  
/***  Minimum viewport 1024px PC screen  ***/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 28px;
  }

  .js-mainWindow {
    width: 850px;
  }

  .js-mainAddBookmark {
    width: 400px;
  }

  .upperContainer {
    width: 850px;
  }

  .newBookmark, .filterBy {
    width: 425px;
  }

  .bookmarks {
    width: 850px;
  }

  ul, ul .expanded {
    width: 850px;
  }
}
