/***  Minimum viewport 320px mobile portrait  ***/

* {
  box-sizing: border-box;
  font-size: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 165, 0);
}

header {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  height: 140px;
}

.mainHeader {
  width: 250px;
  height: 84px;
  padding: 29px 0;
  background-color: rgba(255, 220, 0, 0.80);
  box-shadow: 10px 10px 5px gray;
  border-color: rgb(175, 40, 210);
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  font-size: 22px;
  color: rgb(105, 25, 140);
  font-style: oblique;
  font-family: 'Playfair Display', serif;  
  text-align: center;
}

.js-mainWindow, .js-mainAddBookmark {
  border-color: rgb(175, 40, 210);
  border-style: solid;
  border-radius: 30px;
  border-width: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(105, 25, 140);  
}

.js-mainWindow, .js-mainAddBookmark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(255, 230, 220);
  width: 275px;
}

.upperContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 275px;
  height: 180px;
}

.newBookmark {
  border-top-left-radius: 30px;    
}

.filterBy {
  border-top-right-radius: 30px;
}

.newBookmark, .filterBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 140px;
  background-color: rgb(255, 230, 220);
  color: rgb(105, 25, 140);
}

.bookmarks {
  width: 275px;
  padding: 20px 0 40px 0;  
  border-color: rgb(175, 40, 210);
  border-style: solid none none none;
  border-width: 2px;
}

.addBookmarkForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 275px;
  padding: 20px 0 40px 0;  
}

.addBookmarkForm fieldset {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-style: none;
}

.subCancelDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 80px;
  padding: 10px 0;
}

.buttonNew, #js-filter, .buttonDel, #newFilter, .buttonAddSubmit,
.buttonAddCancel, .addBookmarkForm input, #cancelError {
  display: inline-block;
  height: 60px;
  width: 90px;
  background-color: rgb(255, 230, 180);  
  border-color: rgb(175, 40, 210);
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;  
  box-shadow: 7px 7px 6px gray;  
  color: rgb(105, 25, 140);  
  font-size: 18px;
  text-align: center;
}

#js-filter, #newFilter {
  text-align-last: center;
}

#newFilter, .addBookmarkForm input {
  width: 200px;
  padding: 2px;
  margin: 7px;
  font-size: 20px;  
}

#js-filter, #newFilter {
  -webkit-appearance: none;
  appearance: none;
}

ul {
  width: 275px;
  padding: 20px 40px;
  list-style-type: none;    
}

.jsBookmarkElement {
  padding: 10px 0;
}

.jsBookmarkElement p {
  padding: 0 20px;
  font-size: 16px;
}

.jsBookmarkElement a {
  font-size: 16px;
}

h2, li, fieldset, input, option, .errorContent {
  font-size: 18px;
}  

/***  Minimum viewport 480px mobile landscape  ***/
@media screen and (min-width: 480px) {
  .mainHeader {
    width: 400px;
    font-size: 26px;
    padding: 27px, 0;
  }

  .js-mainWindow, .addBookmarkForm, .upperContainer {
    width: 400px;
  }

  .newBookmark, .filterBy {
    width: 196px;
  }

  .bookmarks {
    width: 400px;
  }

  ul, ul .expanded {
    width: 400px;
  }

  #newFilter, .addBookmarkForm input, .subCancelDiv {
    width: 300px;
    font-size: 22px;    
  }  

  .buttonNew, #js-filter, .buttonDel {
    width: 100px;
    font-size: 18px;
  }

  .jsBookmarkElement p, .jsBookmarkElement a {
    font-size: 18px;
  }  

  h2, li, fieldset, input, option, .errorContent, .errorContent p {
    font-size: 20px;
  }      
}

/***  Minimum viewport 768px iPad portrait  ***/
@media screen and (min-width: 768px) {
  .mainHeader {
    width: 500px;
    font-size: 32px;
    padding: 24px 0;
  }

  .js-mainWindow, .addBookmarkForm, .upperContainer {
    width: 700px;
  }

  .newBookmark, .filterBy {
    width: 350px;
  }

  .bookmarks {
    width: 700px;
  }

  ul, ul .expanded {
    width: 700px;
  }

  #newFilter, .addBookmarkForm input, .subCancelDiv {
    width: 500px;
    font-size: 24px;    
  }  

  .buttonNew, #js-filter, .buttonDel {
    width: 170px;
    font-size: 22px;
  }  

  .jsBookmarkElement p, .jsBookmarkElement a {
    font-size: 20px;
  }  

  h2, li, fieldset, input, option, .errorContent {
    font-size: 26px;
  }  
}  
  
/***  Minimum viewport 1024px PC screen  ***/
@media screen and (min-width: 1024px) {
  .mainHeader {
    width: 500px;
    font-size: 36px;
    padding: 22px 0;
  }

  .js-mainWindow, .addBookmarkForm, .upperContainer {
    width: 850px;
  }

  .newBookmark, .filterBy {
    width: 415px;
  }

  .bookmarks {
    width: 840px;
    font-size: 24px;
  }

  ul, ul .expanded {
    width: 850px;
  }

  #newFilter, .addBookmarkForm input, .subCancelDiv {
    width: 500px;
    font-size: 24px;
  }

  .buttonNew, #js-filter, .buttonDel {
    width: 225px;
    font-size: 24px;
  }

  .jsBookmarkElement p, .jsBookmarkElement a {
    font-size: 20px;
  }

  h2, li, fieldset, input, option, .errorContent {
    font-size: 28px;
  }  
}
